<mat-card>
  <mat-card-title>
    <h2>Angular module system</h2>
  </mat-card-title>
  <mat-card-content>
    <!-- Whenever user is on particular URL, routerLinkActive is activated and applies given class -->
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.label }}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
