<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedRecipe?.imagePath" alt="" class="img-responsive" style="max-width: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"></a>To Shopping List</li>
        <li><a href="#"></a>Edit Recipe</li>
        <li><a href="#"></a>Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedRecipe?.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>