<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <!-- 
    From ngx-mask module
    mask="(000) 0000-00000" 
    -->
    <input
      class="input"
      [formControl]="control"
      [ngClass]="{ 'is-danger': showErrors() }"
    />
  </div>
  <ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors?.required">
      Value is required.
    </div>
    <div
      class="help is-danger"
      *ngIf="control.errors?.minlength?.requiredLength"
    >
      Minimum length of string is
      {{ control.errors?.minlength?.requiredLength }}
    </div>
    <div
      class="help is-danger"
      *ngIf="control.errors?.maxlength?.requiredLength"
    >
      Maximum length of string is
      {{ control.errors?.maxlength?.requiredLength }}
    </div>
    <div class="help is-danger" *ngIf="control.errors?.pattern">
      Invalid format
    </div>
  </ng-container>
</div>
