<div class="container shadow p-3 my-3 rounded">
  <h1>Directives</h1>
  <nav>
    <ul class="pagination">
      <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
        <a class="page-link" (click)="currentPage = currentPage - 1"
          >Previous</a
        >
      </li>
      <ng-container *appTimes="images.length; let i = index">
        <li
          class="page-item"
          [appClass]="{ active: i === currentPage }"
          *ngIf="checkCurrentPage(i)"
        >
          <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
        </li>
      </ng-container>
      <li
        class="page-item"
        [appClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </nav>
  <div [ngSwitch]="currentPage">
    <div [appBackground]="'gray'" *ngSwitchCase="0">Current page is 1</div>
    <div *ngSwitchCase="1">Current page is 2</div>
    <div *ngSwitchCase="2">Current page is 3</div>
    <div *ngSwitchDefault>Just another page...</div>
  </div>
  <div>
    <h4>{{ images[currentPage].title }}</h4>
    <img [src]="images[currentPage].url" />
  </div>
</div>
