<div class="row">
  <div class="col-xs-12 col-md-5 col-offset-5">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn"
          [ngClass]="{'btn-primary': isSignInMode, 'btn-default': !isSignInMode}"
          [disabled]="!authForm.valid"
        >
          {{ isSignInMode ? "Sign In" : "Sign Up" }}
        </button>
        |
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          Switch to {{ isSignInMode ? "Sign Up" : "Sign In" }}
        </button>
      </div>
      <hr />
    </form>
  </div>
</div>
